*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.nav-bar{
    background-color: #0f1111;
    height: 60px;
    color:white;
    padding-top: 0.1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    padding: 4px;
}
.box:hover{

    border: 2px solid white;
    padding: 4px;
}

.logo
{
    height: 35px;
}
.box1{
   height: 50px;
   width: 113px;
   background-position: center;
}


.nav-box2{
    display: flex;
    height: 50px;
    padding: 0px;

}
.box2-right{
    margin: 10px; 
    
    
}
.box2-left{
    padding-top: 15px;

}
.first-box2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
color: #cccccc;
}
.second-box{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
color: #ffffff;
}
.nav-box3{
    display: flex;
    margin-left: 10px;
    width: 630px;
    
    justify-content: space-evenly;
    align-items: center;
}
.box3-icon{
    width: 45px;
    height: 40px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd69;
}
.nav-select{
    height: 40px;
    border: none;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-input{
    height: 40px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nav-box4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-box4 img{
height: 18px;
width: 21.6px;
margin-right: 5px;
}
.box4-select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;
    font-weight: 700px;
    background-color: #0f1111;
    color: white;
    border: none;
}

.box-first{
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.box-second{
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-box7{
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
}
.para{
    padding-top: 8px;
}
.pannel{
    background-color: #232f3e;
    height:40px;
    
  
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    /* animation: slideFromLeft 2s ease forwards; */
    
}


.pannel-left{
    
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
    font-weight: 700;
}
.pannel-left p{
    margin-left: 5px;
}
.pannel-middle{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    margin-left: 5px;
    font-size: 14px;
    width: 70%;
}
.pannel-right{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
    font-weight: 200px;
color: white;
width: 200px;
}
/* hero secction */
.hero img{
    animation: slideFromLeft 2s ease forwards;
    
   height: 300px;
   width: 100%;
   
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    
}
@keyframes  slideFromLeft{
    0%{
opacity: 0;
transform: translateX(-100%);

    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
    
}
.hero-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f6;
    height: 40px;
    width: 80%;
    padding: 10px 2px;
    margin: 0 auto;
}
.shoping{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    background-color: #f4ebd4;
    padding: 0px 20px;

}
.shoping-box{
    animation: slideFromLeft 2s ease forwards;
    width: 310px;
    height: 420px;
    border: none;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 0px;
    
    
}
.box-content h1{
    font-size: 21px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.box-content img{
    width: 270px;
    height: 300px;
    margin-bottom: 10px;

}
.box-content{
    margin: 20px 10px;
}
.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; 
    padding: 30px;
     border-top: 2px solid gainsboro;
     border-bottom: 2px solid gainsboro;

}
.button-container{
    display: flex;
    justify-content: center;
    /* border: none;
    padding: 0 20px; */
align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    border: none;
    background-color: #febd69;
    padding: 1px 70px;
    width: 230px;
    height: 28px;
    font: 12px;
}
.signin-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-right: 10px;
}
.back{
    margin-top: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 15px 0px;
 background-color: #37475a;

}
.back a{ 
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.back:hover{
    background-color: #565c5c;

}
.customer-footer{
    background-color: #232f3e;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cust-1{
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 15px;
}
.cust-2{
    font-size: 14px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 15px;
}


